{% extends 'main/navigation.html' %}
{% block content %}
<div class="this-page">
<div class="text1">
    <h1>{{ page.title1 }}</h1>
</div>
   <p class="fig">
       <img src="{{ page.graph1 }}" width="500" height="300" >
    <img src="{{ page.graph2 }}"  width="500" height="300" >
</p>
     <table  style="float:left;margin:0%  2%  0% 14%" >
    <tr>
        <th style=" padding: 3px;
    border: 1px solid black;">Год</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Средняя зарплата в IT</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Средняя зарплата техподдержки</th>
    </tr>
        {% for el in table_salary %}
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ el.year }}</td>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ el.salary }}</td>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ el.salary_tech }}</td>
    </tr>
        {% endfor %}
    </table>
    <table >
    <tr>
        <th style=" padding: 3px;
    border: 1px solid black;">Год</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Количество вакансий</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Количество вакансий техподдержки</th>
    </tr>
        {% for elem in table_count %}
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.year }}</td>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.count }}</td>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.count_tech }}</td>
    </tr>
        {% endfor %}
</table>
</div>

{% endblock %}