{% extends 'main/navigation.html' %}
{% block content %}
<div class="this-page">
<h1>{{ page.title1 }}</h1>
 <p class="fig">
       <img src="{{ page.graph1 }}" width="500" height="300" >
    <img src="{{ page.graph2 }}"  width="500" height="300" >
</p>
    <table style="float:left;margin:0%  2%  0% 23%">
    <tr>
        <th style=" padding: 3px;
    border: 1px solid black;">Город</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Зарплата</th>
    </tr>
        {% for elem in table_salary %}
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.city }}</td>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.salary }}</td>
    </tr>
        {% endfor %}

</table>
    <table >
    <tr>
        <th style=" padding: 3px;
    border: 1px solid black;">Город</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Доля вакансий </th>
    </tr>
        {% for elem in table_count %}
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.city }}</td>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.perc }}</td>
    </tr>
        {% endfor %}

</table>
</div>

{% endblock %}