{% extends 'main/navigation.html' %}

{% block content %}
<div class="features">
    <h1>Описание профессии</h1>
    <p> Техническая поддержка или техподдержка — понятие, обобщающее собой и охватывающее множество услуг, посредством которых предприятия и организации обеспечивают помощь пользователям технологичных продуктов и услуг, например, таких, как мобильные и стационарные телефоны, телевизоры, компьютеры, программное обеспечение, а также других электронных и механических товаров и услуг. </p>
    <p>В целом, техническая поддержка служит попыткам помочь конкретным пользователям решать возникающие конкретные проблемы с продуктом и его использованием, нежели задачи, связанные с обучением, индивидуальной настройкой или другими услугами поддержки.

   <div class="who">
        <b>Кто такой специалист технической поддержки?</b>
Это человек, хорошо знакомый с сервисами и проектами своего нанимателя и способный в короткие сроки решать проблемы покупателей и клиентов.

Он общается с потребителями в чате, тикетах, по электронной почте и телефону. Задача такого сотрудника – быстро вникнуть в проблему и предложить клиенту решение (или же самому устранить все возникшие неисправности).
    </div>
    <div class="skil">
    <p>
    <b>Обязанности специалиста технической поддержки</b>
В разных компаниях на сотрудников ОТП накладываются разные обязанности. Где-то достаточно вежливо «сопроводить» клиента до нужной ссылки, а где-то приходится решать сбои программного и аппаратного характера.

Обычно в техподдержке приходится:

Решать технические проблемы.

Диагностировать неполадки и находить способы их устранения.

Устранять неисправности, мешающие клиенту получать доступ к оплачиваемым им услугам.

Устанавливать и настраивать программное обеспечение для отдельных клиентов и целых корпораций.

Уметь в ходе общения с клиентом выявлять корень проблемы.

Оставаться в контакте с потребителем, пока все его проблемы не будут решены.
</p>
</div>
</div>
{% endblock %}