{% extends 'main/navigation.html' %}
{% block content %}
<div class="this-page">
<div class="text1">
    <h1>{{ page.title1 }}</h1>
</div>
       <p class="fig" >
       <img src="{{ page.graph1 }}"width="500" height="300" >
    <img src="{{ page.graph2 }}"  width="500" height="300" >
        <img src="{{ page.graph3 }}"  width="500" height="300" >
        <img src="{{ page.graph4 }}"  width="500" height="300" >
        <img src="{{ page.graph5 }}"  width="500" height="300" >
        <img src="{{ page.graph6 }}"  width="500" height="300" >
        <img src="{{ page.graph7 }}"  width="500" height="300" >
        <img src="{{ page.graph8 }}"  width="500" height="300" >

</p>
    <table>
    <tr>
        <th style=" padding: 4px;
    border: 1px solid black;">Год</th>
        <th style=" padding: 4px;
    border: 1px solid black;">Навыки</th>
    </tr>
       {% for elem in table_skills %}
    <tr>
        <td style=" padding: 4px;
    border: 1px solid black;">{{ elem.year }}</td>
        <td style=" padding: 4px;
    border: 1px solid black;">{{ elem.skills }}</td>
    </tr>
       {% endfor %}
</table>
</div>

{% endblock %}